.owl-carousel{
	clear: both;
	width: 900px;
}

.carousel_item{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: auto;
	text-align: center;
	float: left;
}

.carousel_item img{
	height: 135px;
	width: auto;
}

.carousel_text{
	white-space: wrap;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
